<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
  </head>
  <body>
      <header>
          <nav class="navbar">
              <h1><a href="#" class="blog_title">blog</a></h1>
              <div class="navbar_div">
                  <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="">about</a></li>
                        <li><a href="">contact me</a></li>
                  </ul>
                  <div>
                    <button class="nav_btn">login</button>
                    <button class="nav_btn sign_up">sign-up</button>
                   </div>
                </div>
          </nav>
        <p>keep the fire within you <span class="tagline">burning.</span></p> 
      </header>
  </body>
</html>
